@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

body {
    background-color: white;
}

h2 {
    font-family: "Fixel Display", serif;
    font-weight: bold;
    color: #0ABF53;
}

.section-table {
    font-family: "Fixel Display", serif;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    padding-bottom: 20px;
}

.section-table td, .section-table th {
    padding: 8px;
}

.section-table tr:nth-child(even) {
    background-color: #f2f2f2;
    z-index: 100;
}

.section-table th {
    text-align: left;
    color: #0ba848;
}

.header {
    position: relative;
    z-index: 10;
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
    background-color: #0ba848;
    border-radius: 5px;
    border-color: transparent;
    color: white;
    font-family: "Fixel Display", serif;
    cursor: pointer;
    display: inline-block;
}

.copy-button:hover, .fill-card-button:hover, .fill-sepa-button:hover {
    background-color: #07632a;
}

.fill-card-button {
    margin-right: 3px;
}

.fill-sepa-button {
    margin-right: 3px;
}

.copy-button {
    margin-left: 3px;
}
